@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  background-color: white;
}


.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

/* li {
  float: left;
} */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#articleDiv,
#topArticleDiv {
  background-color: rgba(150, 132, 54, 0.445);
  font-size: 20px;
  margin: auto;
  font-weight: 900;
  padding: 50px;
  margin-top: 20px;

}

#renderArticles,
#buttonForMode,
#renderTopHeadlines {
  background-color: beige;
  border: 0;
  padding: 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 15px;
}

#renderArticles:hover,
#buttonForMode:hover,
#renderTopHeadlines:hover {
  background-color: white;
  color: black;
}

hr {
  border: solid 2px black;
}

img {
  width: 300px;
  margin: 20px;
}

h1 {
  margin-top: 15px;
}

#fb-img {
  width: 80px;
  margin: 0;
}

#ig-img {
  width: 120px;
  margin: 0;
}

#ig-img:hover {
  filter: grayscale(1);
}

#fb-img:hover {
  filter: grayscale(1);
}

.hide {
  display: none;
}
