@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    background-image: url(../IMAGES/bg.jpg);
    margin: auto;
    background-color: rgba(150, 132, 54, 0.445);
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

.contacts-div {
    border: black solid 3px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*@media screen and (min-width: 600px) {
    
}*/