@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    background-image: url(../IMAGES/bg.jpg);
    margin: auto;
    background-color: rgba(150, 132, 54, 0.445);
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    width: 40vw;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: white;
    padding: 150px;
}

.inner-container h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
