@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    background-color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

li {
    float: left;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    width: 40vw;
}
.inner-container{
    /* background-image: linear-gradient(to bottom, rgb(250, 212, 146) , rgba(253, 238, 206, 0.604));
    width: 55%;
    float: right;
    background-color: white;
    padding: 150px;
    border-radius: 5%; */
    text-align: center;
    padding: 15vh;
    margin: 10vh; 
}

.contacts-div {
    background-image: linear-gradient(to top, rgb(228, 228, 228), #ffffff 60%);
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    margin: 3vh;
    font-family: "Actor", sans-serif;
    text-decoration: none;

}

.inner-container h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
