@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    /*background-image: url(../IMAGES/bg.jpg);*/
    margin: auto;
    background-image: linear-gradient(to bottom, rgb(238, 228, 180), rgb(255, 255, 255));
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

.contacts-div {
    background-image: linear-gradient(to bottom, rgb(235, 235, 235), rgb(255, 255, 255));
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    margin: 3vh;
    box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.4);
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    max-width: 400px;
    border-radius: 7%;
    box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.4);
    margin: 30px;
    border: solid 6px white;
}

@media screen and (min-width: 700px) {
    .contacts-container {
        display: flex;
        flex-direction: row wrap;
        align-content: space-between;
    }

    .contacts-div {
        margin: 20px;
    }
}