@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Seymour One", sans-serif;
}

h1 {
  color: limegreen;
}
